<!DOCTYPE html>
<html>
<head>
    <title>Flask </title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 50px; }
        .box { border: 1px solid #ccc; padding: 20px; display: inline-block; border-radius: 10px; }
    </style>
</head>
<body>

    <div class="box">
        <h1>Η ώρα είναι: {{ time }}</h1>

        {% if name %}
            <h2>Γεια σου, {{ name }}! Χαιρόμαστε που σε ξαναβλέπουμε.</h2>
        {% else %}
            <form method="POST">
                <input type="text" name="name" placeholder="Γράψε το όνομά σου">
                <button type="submit">Πες Γεια</button>
            </form>
        {% endif %}

        <br>
        <a href="/">Ανανέωση ώρας</a>
    </div>

</body>
</html>
